# Archivos de objeto y binarios
*.obj
*.exe
*.dll
*.lib
*.exp
*.ilk
*.pdb

# Archivos de salida
*.out

# Archivos temporales
*.temp
*.tmp
*.bak
*.swp

# Archivos de configuración del sistema
Thumbs.db
Desktop.ini

# Archivos de configuración del IDE 
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates



# Carpeta de binarios
bin/